/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.section {
    padding: 72px 0;
}

.sectionAlt {
    background-color: #d9e5f1;
}

/*.sectionInner {*/
/*    margin: 0 auto;*/
/*}*/

.heroBanner {
    padding-top: 150px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: black;
    height: 250px;
    background-color: #f2f6fa;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #f2f6fa;
    padding-top: 0px;
}