.all-icons-list,
.icons-result {
    display: grid;
    grid-template-columns: repeat(auto-fill,136px);
    grid-auto-rows: auto;
    grid-gap: 10px;;
}



.icon-block, .svg-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
}
.icon-name, .tile-title {
    display: flex;
    text-align: center;
}

.search-component {
    margin-top: 15px;
}