.icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 136px);
    grid-auto-rows: auto;
    border: #4b1113;
}

.svg-icon {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*outline: 2px solid gray;*/
    /*box-sizing: border-box;*/
    /*border-width: 0px;*/
    border-radius: 3px;
    /*box-sizing: border-box;*/
    /*font-size: inherit;*/
    /*font-style: normal;*/
    /*font-family: inherit;*/
    /*font-weight: 500;*/
    /*max-width: 100%;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;*/
    /*white-space: nowrap;*/
    /*background: none;*/
    /*cursor: pointer;*/
    line-height: 2.28571em;
    border: #4b1113;
    /*vertical-align: middle;*/
    /*height: 196px;*/
    width: 120px;
    /*padding: 20px 8px 8px;*/
    /*display: flex;*/
    /*-webkit-box-pack: justify;*/
    /*justify-content: space-between;*/
    /*-webkit-box-align: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    color: #42526E !important;
}

.tile-title {
    display: inline-block;
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/*Search field for icons*/
.css-1a82ln7 {
    -webkit-box-align: center;
    align-items: center;
    background-color: #FAFBFC;
    border-color: #DFE1E6;
    color: #091E42;
    cursor: text;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    overflow-wrap: break-word;
    vertical-align: top;
    pointer-events: auto;
    width: 240px;
    margin-bottom: 48px;
}

.download-button {
    display: flex;
}

.download {
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url('../../../static/img/download.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}